<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>indexLogicServlet</servlet-name>
        <servlet-class>com.atmProject.servlet.indexLogicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>depositLogicServlet</servlet-name>
        <servlet-class>com.atmProject.servlet.depositLogicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>withdrawLogicServlet</servlet-name>
        <servlet-class>com.atmProject.servlet.withdrawLogicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pinChangeLogicServlet</servlet-name>
        <servlet-class>com.atmProject.servlet.pinChangeLogicServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>balanceEnquiryServlet</servlet-name>
        <servlet-class>com.atmProject.servlet.balanceEnquiryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>fastCashServlet</servlet-name>
        <servlet-class>com.atmProject.servlet.fastCashServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>com.atmProject.servlet.UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MailTest</servlet-name>
        <servlet-class>com.atmProject.servlet.MailTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>indexLogicServlet</servlet-name>
        <url-pattern>/indexLogicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>depositLogicServlet</servlet-name>
        <url-pattern>/depositLogicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>withdrawLogicServlet</servlet-name>
        <url-pattern>/withdrawLogicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pinChangeLogicServlet</servlet-name>
        <url-pattern>/pinChangeLogicServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>balanceEnquiryServlet</servlet-name>
        <url-pattern>/balanceEnquiryServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>fastCashServlet</servlet-name>
        <url-pattern>/fastCashServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MailTest</servlet-name>
        <url-pattern>/MailTest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
